* {
  font-family: arial;
}
.btn {
  outline: none
}
.btn.disabled.nohover {
  cursor: default;
  outline: none
}
.centered {
  text-align: center
}
.table > tbody > tr > td {
  vertical-align: middle;
}
.vcentered{
  vertical-align: middle
}
.title {
  font-size: 42px;
  text-align: center;
  width: auto;
  display: inline-block;
}
table {
  width: 100%;
  table-layout: fixed;
}
.big {
  font-size: 42px;
}
.value {
  text-align: center;
}
.tooltip-inner {
    white-space:pre-wrap;
}


