* {
  font-family: arial;
}
.btn {
  outline: none
}
.btn.disabled.nohover, .btn[disabled].nohover {
  cursor: default;
  outline: none
}
.centered {
  text-align: center
}
.table > tbody > tr > td {
  vertical-align: middle;
}
.vcentered{
  vertical-align: middle
}
.title {
  font-size: 42px;
  text-align: center;
  width: auto;
  display: inline-block;
}
table {
  width: 100%;
  table-layout: fixed;
}
.big {
  font-size: 24px;
}
.value {
  text-align: center;
}
.tooltip-inner {
    white-space:pre-wrap;
}
.panel-default.panel-wisdom >.panel-heading{
background: #ca950f; color: #fff; }
.panel-default.panel-readiness >.panel-heading{
background: #3ab68b; color: #fff; 
}
.panel-default.panel-readiness {
border-color: #3ab68b; 
}
.label-wisdom {
background: #ca950f; color: #fff; }


